.notification-Transition-enter {
  opacity: 0;
  transform: translateX(100%);
}

.notification-Transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}

.notification-Transition-exit {
  opacity: 1;
  transform: translateX(0);
}

.notification-Transition-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 250ms linear;
}
